section#advantages.section.section--no-border
  .container
    h5 #{$t.titles.advantages}
    h2.short-heading.no-margin-vertical #{$t.titles.work_effectively}

    .section__columns.no-margin-vertical
      .section__column.section__column--centered
        .accented-label new
        h3 #{$t.titles.realtime__feedback}
        p #{$t.text.post_qr_code_review}
      .section__column.mobile-hidden
        img.section__column-image(src="./images/phone-qr.png")

    .cards
      .card.card--all-in-one
        h4 #{$t.titles.all_in_one}
        p.text.text--small #{$t.text.read_and_reply}
      .card.card--notification
        h4 #{$t.titles.notifications}
        p.text.text--small #{$t.text.fast_notifications}
      .card.card--analysis
        h4 #{$t.titles.full_analysis}
        p.text.text--small #{$t.text.strengths_and_weaknesses}
      .card.card--export
        h4 #{$t.titles.exclel_export}
        p.text.text--small #{$t.text.export_stats}
      .card.card--demo
        h4 #{$t.titles.free_trial}
        p.text.text--small #{$t.text.full_version_14_days_free}
      .card.card--mobile
        h4 #{$t.titles.google_my_business}
        p.text.text--small #{$t.text.gmb_integration}
