section#advantages.section.section--no-border
  .container
    h5 #{$t.advantages.title}
    h2.short-heading #{$t.advantages.heading}

    .cards
      .card.card--all-in-one
        h4 #{$t.advantages.a1.heading}
        p.text.text--small #{$t.advantages.a1.text}
      .card.card--notification
        h4 #{$t.advantages.a2.heading}
        p.text.text--small #{$t.advantages.a2.text}
      .card.card--analysis
        h4 #{$t.advantages.a3.heading}
        p.text.text--small #{$t.advantages.a3.text}
      .card.card--export
        h4 #{$t.advantages.a4.heading}
        p.text.text--small #{$t.advantages.a4.text}
      .card.card--demo
        h4 #{$t.advantages.a5.heading}
        p.text.text--small #{$t.advantages.a5.text}
      .card.card--teamwork
        h4 #{$t.advantages.a6.heading}
        p.text.text--small #{$t.advantages.a6.text}
