header.header
  a.header__mobile-logo.anchor-link(href="#home")
    img(src="./images/logo.png")

  button.header__toggle-btn

  .header__overlay

  .container
    .header__nav
      ul.header__links.header__links--left
        li.header__logo
          a.anchor-link(href="#home")
            img(src="./images/logo.png")
        li
          a.header__link.anchor-link(href="#how-it-works") #{$t.links.how_it_works}
        li
          a.header__link.anchor-link(href="#advantages") #{$t.links.advantages}
        li
          a.header__link.anchor-link(href="#our-clients") #{$t.links.clients}
      ul.header__links.header__links--right
        li.header__link.header__link--demo(
          data-toggle="modal"
          data-target="#demo-modal"
          data-keyboard="true"
        )
          | #{$t.links.get_demo}
        li.header__link.header__lang-link Рус
          ul.header__dropdown
            li
              a.header__dropdown-link(href="/") Русский
            li
              a.header__dropdown-link(href="/ua") Українська
            li.hidden
              a.header__dropdown-link(href="/en") English
