section#home.hero
  .container
    .hero__content-box
      .hero__text-box
        h1
          | #{$t.titles.hero}
        p.text.text--large
          | #{$t.text.hero_text1}.
          | #{$t.text.hero_text1}.
        .hero__form
          input.hero__input#hero-email(type="email" placeholder=$t.placeholders.email)
          button.btn.btn--primary.hero__btn(
            data-toggle="modal"
            data-target="#demo-modal"
            data-keyboard="true"
          )
            | #{$t.buttons.get_demo}
      .rellax(data-rellax-speed="2")
        img.hero__img(src="./images/hero.png")
