section#how-it-works.section
  .container
    h5 #{$t.titles.how_it_works}

    .section__columns
      .section__column
        h3 #{$t.titles.tracks_reviews}
        p
          | #{$t.text.clients_leave_reviews}.
          | #{$t.text.our_algorithms}.
      .section__column
        h3 #{$t.titles.fast_reaction}
        p #{$t.text.recieve_notifications}.

    ul.companies-list
      li.companies-list__item
        img.companies-list__img.companies-list__img--booking(src="./images/booking_logo.png")
      li.companies-list__item
        img.companies-list__img.companies-list__img--fb(src="./images/facebook_logo.png")
      li.companies-list__item
        img.companies-list__img.companies-list__img--google(src="./images/google_logo.png")
      li.companies-list__item
        img.companies-list__img.companies-list__img--tripadvisor(src="./images/tripadvisor_logo.png")
      li.companies-list__item
        img.companies-list__img.companies-list__img--foursquare(src="./images/foursquare_logo.png")
      li.companies-list__item
        img.companies-list__img.companies-list__img--2gis(src="./images/2gis_logo.png")

    .section__columns
      .section__column.section__column--centered
        .accented-label new
        h3 #{$t.titles.realtime__feedback}
        p #{$t.text.post_qr_code_review}
      .section__column.mobile-hidden
        img.section__column-image(src="./images/phone-qr.png")
