section.section.section--grey.section--centered.section--extra-height
  .container
    .section__block
      h2 #{$t.titles.listen_to_clients}
      p #{$t.text.read_all_reviews_and_make_business_better}
    button.btn.btn--primary(
      data-toggle="modal"
      data-target="#demo-modal"
      data-keyboard="true"
    )
      | #{$t.buttons.get_demo}
