section.section.section--dark.section--centered.section--extra-height.section--no-border
  .container
    .section__block
      h2.text--light #{$t.titles.listen_to_clients}
      p.text--light #{$t.text.read_all_reviews_and_make_business_better}
    button.btn.btn--primary(
      data-toggle="modal"
      data-target="#demo-modal"
      data-keyboard="true"
    )
      | #{$t.buttons.get_demo}
