section#plans.section
  .container
    h5 #{$t.titles.plans}
    h2.short-heading #{$t.titles.choose_your_plan}

    .cards
      .card.card--wide
        .card__header
          h3.card__heading.card__heading--rotated #{$t.titles.expert}
        .card__container--outer
          .card__container--inner
            ul.card__list
              li.card__list-item #{$t.plan_items.direct_reviews}
              li.card__list-item Google Reviews
              li.card__list-item Facebook
              li.card__list-item Booking.com
              li.card__list-item Tripadvisor
            ul.card__list
              li.card__list-item 2GIS
              li.card__list-item Foursquare
              li.card__list-item #{$t.plan_items.analytics}
              li.card__list-item #{$t.plan_items.reports}
              li.card__list-item #{$t.plan_items.responses_to_reviews}*
          .card__price-block
            p.text--price #{$t.text.price_num}&#x20;
              span.text.text--price-period.white-grey #{$t.text.price_period}**
            button.btn.btn--primary.card__btn #{$t.buttons.try}

      .card.card--wide
        .card__header
          h3.card__heading.card__heading--rotated #{$t.titles.professional}
        .card__container--outer
          h3.card__heading #{$t.titles.more_than_10_locations}
          p #{$t.text.contact_us}
          .card__price-block
            p.text.text--price-period.white-grey #{$t.text.negotiated_price}
            button.btn.btn--primary.card__btn #{$t.buttons.write_us}

    .plans__note
      p.text.text--xxsmall * #{$t.text.onlyGoogle}
      p.text.text--xxsmall ** #{$t.text.one_location}
